<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma-rtl.min.css">
<style>
    img{
        margin: 0 1rem;
    }
</style>
<body>

<nav class="navbar">
    <a href="/">
        <img src="https://antwerp-web-prod.s3-eu-west-1.amazonaws.com/logo.svg" alt="" class="image is-48x48">
    </a>
    <div class="navbar-menu is-active">
        <a href="/" class="navbar-item">home</a>
        <a href="/historiek" class="navbar-item">historiek</a>
        <a href="/stations" class="navbar-item">stations</a>
    </div>
</nav>

</body>
</html>