<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma-rtl.min.css">
<body>
<table class='table'>
	<tr>
		<td>ID</td>
		<td>address</td>
		<td>total_slots</td>
		<td>lat</td>
		<td>lon</td>
		<td>name</td>
		<td>stationType</td>
		<td>status</td>
	</tr>
	<tr>
		<th>1</th>
		<th>Koningin Astridplein</th>
		<th>33</th>
		<th>51.217820000000000000</th>
		<th>4.420650000000000000</th>
		<th>001- Centraal Station - Astrid</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>2</th>
		<th>Koningin Astridplein</th>
		<th>36</th>
		<th>51.21755807739536</th>
		<th>4.420725651433662</th>
		<th>002- Centraal Station - Astrid 2</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>3</th>
		<th>Kievitplein</th>
		<th>35</th>
		<th>51.213085853125690000</th>
		<th>4.421771338842944000</th>
		<th>003- Centraal station Kievit 2</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>4</th>
		<th>De Keyserlei</th>
		<th>21</th>
		<th>51.217363888888890000</th>
		<th>4.420094444444445000</th>
		<th>004- De Keyserlei</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>5</th>
		<th>Lange Kievitstraat</th>
		<th>35</th>
		<th>51.213010729744000000</th>
		<th>4.421732916607050000</th>
		<th>005- Centraal Station / Kievit</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>6</th>
		<th>Mercatorstraat </th>
		<th>22</th>
		<th>51.210316661359040000</th>
		<th>4.422179962645858000</th>
		<th>006- Premetro Plantin</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>7</th>
		<th>Binnensingel ingang station Berchem</th>
		<th>34</th>
		<th>51.201075847164230000</th>
		<th>4.433947713271024000</th>
		<th>007- NMBS Berchem </th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>8</th>
		<th>Ryckaertplein</th>
		<th>28</th>
		<th>51.201089073030410000</th>
		<th>4.433958407621510000</th>
		<th>008- NMBS Berchem 2</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>9</th>
		<th>Vandenpeereboomstraat - Plantin Moretuslei</th>
		<th>29</th>
		<th>51.209061</th>
		<th>4.436015</th>
		<th>009- NMBS Oost</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>10</th>
		<th>Desguinlei - Montignystraat</th>
		<th>34</th>
		<th>51.198469689711210000</th>
		<th>4.390718261329017000</th>
		<th>010- NMBS Zuid</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>11</th>
		<th>Osystraat</th>
		<th>36</th>
		<th>51.222033000000000000</th>
		<th>4.418402000000000000</th>
		<th>011- Roosevelt</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>12</th>
		<th>De Singel/ Brederodestraat</th>
		<th>35</th>
		<th>51.199306000000000000</th>
		<th>4.390135000000000000</th>
		<th>012- Brussel</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>13</th>
		<th>Jan van rijswijcklaan aan bedrijf DE SINGEL</th>
		<th>33</th>
		<th>51.193882000000000000</th>
		<th>4.402245000000000000</th>
		<th>013- De Singel</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>14</th>
		<th>Jan Van Rijswijcklaan</th>
		<th>35</th>
		<th>51.196813000000000000</th>
		<th>4.405689000000000000</th>
		<th>014- Markgrave</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>15</th>
		<th>Beeldhouwersstraat - Admiraal De Boisotstraat</th>
		<th>34</th>
		<th>51.207822115171010000</th>
		<th>4.394392340970182000</th>
		<th>015- Schone Kunsten</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>16</th>
		<th>Karel Rogierstraat </th>
		<th>25</th>
		<th>51.210160000000000000</th>
		<th>4.396613000000000000</th>
		<th>016- Marnixplaats</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>17</th>
		<th>Groenplaats n° 7</th>
		<th>18</th>
		<th>51.218884242613400000</th>
		<th>4.401197046278909000</th>
		<th>017- Groenplaats</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>18</th>
		<th>Meir n° 18</th>
		<th>34</th>
		<th>51.218187010036840000</th>
		<th>4.406168081225285000</th>
		<th>018- Meirbrug</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>20</th>
		<th>Groenkerkhofstraat/Nationalestraat</th>
		<th>26</th>
		<th>51.218800000000000000</th>
		<th>4.401000000000000000</th>
		<th>020- Groenplaats 2</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>21</th>
		<th>Grotesteenweg 150/Driekoningenstraat</th>
		<th>28</th>
		<th>51.195482000000000000</th>
		<th>4.419189000000000000</th>
		<th>021- Driekoningen</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>22</th>
		<th>Statiestraat 162</th>
		<th>31</th>
		<th>51.19992476161931</th>
		<th>4.430990359067499</th>
		<th>022- Statie</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>23</th>
		<th>Wapper - Jodenstraat</th>
		<th>35</th>
		<th>51.217084162925510000</th>
		<th>4.408880661964794000</th>
		<th>023- Rubenshuis</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>24</th>
		<th>Anneessensstraat</th>
		<th>29</th>
		<th>51.217959000000000000</th>
		<th>4.417946000000000000</th>
		<th>024- Opera</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>25</th>
		<th>Leysstraat</th>
		<th>33</th>
		<th>51.218188830000000000</th>
		<th>4.414313350000000000</th>
		<th>025- Teniersplaats</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>26</th>
		<th>Meir 84</th>
		<th>35</th>
		<th>51.218227891778050000</th>
		<th>4.412475243159753000</th>
		<th>026- Meir-Antoon Van Dijck</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>27</th>
		<th>Lange Nieuwstraat 101</th>
		<th>36</th>
		<th>51.21950291247646</th>
		<th>4.411949186215027</th>
		<th>027- Lange Nieuwstraat</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>28</th>
		<th>Keizerstraat ro n° 56</th>
		<th>21</th>
		<th>51.221488045020520000</th>
		<th>4.408659692889357000</th>
		<th>028- Keizerstraat</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>29</th>
		<th>Lange Lozanastraat n° 149</th>
		<th>18</th>
		<th>51.201777902281430000</th>
		<th>4.406064590410548000</th>
		<th>029- Lozana</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>30</th>
		<th>Laar</th>
		<th>23</th>
		<th>51.216337</th>
		<th>4.433343</th>
		<th>030- Het Laar</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>31</th>
		<th>Karel Oomsstraat - Binnensingel</th>
		<th>35</th>
		<th>51.193119169424930000</th>
		<th>4.408029450760751000</th>
		<th>031- Wezenberg</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>32</th>
		<th>De Conickplein ro n° 26</th>
		<th>25</th>
		<th>51.221734856855480000</th>
		<th>4.420708379829534000</th>
		<th>032- Permeke</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>33</th>
		<th>Hessenplein n° 2</th>
		<th>21</th>
		<th>51.226218373722870000</th>
		<th>4.409645771552839000</th>
		<th>033- Hessenhuis</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>34</th>
		<th>Luikstraat</th>
		<th>24</th>
		<th>51.210777</th>
		<th>4.388583</th>
		<th>034- M HKA</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>35</th>
		<th>cockerillkaai</th>
		<th>35</th>
		<th>51.210318</th>
		<th>4.387700</th>
		<th>035- Cockerillkaai</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>36</th>
		<th>Schuttershofstraat n° 2</th>
		<th>20</th>
		<th>51.2163878210059</th>
		<th>4.40593043087013</th>
		<th>036- Bourla</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>37</th>
		<th>Tabakvest - Ibis Hotel</th>
		<th>30</th>
		<th>51.215593476438820000</th>
		<th>4.412371967260860000</th>
		<th>037- Theater</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>38</th>
		<th>Pastorijstraat tov huisnr28</th>
		<th>21</th>
		<th>51.220157</th>
		<th>4.432635</th>
		<th>038- Pastorijstraat</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>39</th>
		<th>Betogingstraat tov3</th>
		<th>35</th>
		<th>51.211059089441240000</th>
		<th>4.434095891498593000</th>
		<th>039- Koxplein</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>40</th>
		<th>Desguinlei to 246</th>
		<th>32</th>
		<th>51.196761939529130000</th>
		<th>4.396619143599072000</th>
		<th>040- Desguinlei</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>41</th>
		<th>Van Eycklei/Edelinckstraat 24 </th>
		<th>27</th>
		<th>51.210802</th>
		<th>4.411606</th>
		<th>041- Van Eyck</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>42</th>
		<th>Mechelsesteenweg - Ingang Harmoniepark</th>
		<th>19</th>
		<th>51.202284892494660000</th>
		<th>4.412070122941341000</th>
		<th>042- Harmonie</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>43</th>
		<th>Belgiëlei/Gretrystraat</th>
		<th>29</th>
		<th>51.203684000000000000</th>
		<th>4.415281000000000000</th>
		<th>043- Grétrystraat</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>44</th>
		<th>Belgiëlei 99</th>
		<th>32</th>
		<th>51.205721000000000000</th>
		<th>4.418194000000000000</th>
		<th>044- Belgielei</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>45</th>
		<th>Oude Leeuwenrui n° 2</th>
		<th>35</th>
		<th>51.226881774868240000</th>
		<th>4.405497597996209000</th>
		<th>045- Falconplein</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>46</th>
		<th>Grotesteenweg/Boomgaardstraat</th>
		<th>33</th>
		<th>51.19910372113264</th>
		<th>4.415516549585612</th>
		<th>046- De Merode</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>47</th>
		<th>Boomgaardstraat/Marialei</th>
		<th>35</th>
		<th>51.201405828404990000</th>
		<th>4.423709521960564000</th>
		<th>047- Militair Hospitaal</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>48</th>
		<th>De Keyserlei</th>
		<th>30</th>
		<th>51.217297000000000000</th>
		<th>4.420149000000000000</th>
		<th>048- De Keyserlei 2</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>49</th>
		<th>Sint-Pietersvliet - Tolhuis</th>
		<th>26</th>
		<th>51.22576183209058</th>
		<th>4.400923037011852</th>
		<th>049- Tolhuis</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>50</th>
		<th>Sint-Paulusstraat/ Lange Koepoortstraat</th>
		<th>21</th>
		<th>51.223732815536960000</th>
		<th>4.403024090372765000</th>
		<th>050- Klapdorp</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>51</th>
		<th>Mutsaardplein</th>
		<th>36</th>
		<th>51.22289620751177</th>
		<th>4.406112888467821</th>
		<th>051- Mutsaardplein</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>52</th>
		<th>Entrepotkaai</th>
		<th>35</th>
		<th>51.228015000000000000</th>
		<th>4.411687000000000000</th>
		<th>052- Waaslandtunnel</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>53</th>
		<th>Paardenmarkt - Kleine Kauwenberg</th>
		<th>17</th>
		<th>51.225010</th>
		<th>4.412231</th>
		<th>053- Paardenmarkt</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>54</th>
		<th>Pieter Van Hobokenstraat n° 19</th>
		<th>21</th>
		<th>51.221855438767100000</th>
		<th>4.412985000366758000</th>
		<th>054- Ossenmarkt</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>55</th>
		<th>Vredestraat/Zonnebloemstraat</th>
		<th>33</th>
		<th>51.196977234142530000</th>
		<th>4.428231210627736000</th>
		<th>055- Zonnebloemstraat</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>56</th>
		<th>Minderbroederrui n° 46</th>
		<th>30</th>
		<th>51.222187310742380000</th>
		<th>4.404587621644557000</th>
		<th>056- Minderbroedersrui</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>57</th>
		<th>Wolstraat - Korte Koepoortstraat 2</th>
		<th>18</th>
		<th>51.221541666666670000</th>
		<th>4.402666666666667000</th>
		<th>057- Wolstraat</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>58</th>
		<th>Jordaenskaai ro Saucierstraat</th>
		<th>30</th>
		<th>51.224389429501930000</th>
		<th>4.399097050370182000</th>
		<th>058- Noorderterras</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>59</th>
		<th>Ernest Van Dijckkaai ro n° 13 - Zuiderterras</th>
		<th>32</th>
		<th>51.221099223306060000</th>
		<th>4.396804494276738000</th>
		<th>059- Het Steen</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>60</th>
		<th>Wisselstraat 9</th>
		<th>36</th>
		<th>51.22165941943012</th>
		<th>4.400557314040245</th>
		<th>060- Grote Markt</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>61</th>
		<th>Statiestraat - Victor Jacobslei</th>
		<th>32</th>
		<th>51.197809668607660000</th>
		<th>4.425406466971353000</th>
		<th>061- Victor Jacobslei</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>62</th>
		<th>Damplein/Lange lobroekstraat ro n° 222</th>
		<th>24</th>
		<th>51.231828000000000000</th>
		<th>4.426978000000000000</th>
		<th>062- Station Dam</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>63</th>
		<th>Lange Lobroekstraat tov huisnr 93</th>
		<th>35</th>
		<th>51.230014000000000000</th>
		<th>4.431567000000000000</th>
		<th>063- Slachthuis</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>64</th>
		<th>Plantinkaai ro Jansvliet (Zuiderterras)</th>
		<th>35</th>
		<th>51.21907165764799</th>
		<th>4.394946875694242</th>
		<th>064- Zuiderterras</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>66</th>
		<th>Drukkerijstraat n° 26</th>
		<th>24</th>
		<th>51.217088702234010000</th>
		<th>4.399251391055215000</th>
		<th>066- Modemuseum</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>67</th>
		<th>Oudaan n° 14</th>
		<th>35</th>
		<th>51.215778420832180000</th>
		<th>4.403141962080859000</th>
		<th>067- Oudaan</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>68</th>
		<th>Turnhoutsebaan/Stenenbrug </th>
		<th>29</th>
		<th>51.214571000000000000</th>
		<th>4.443683000000000000</th>
		<th>068-  Turnhoutsepoort</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>69</th>
		<th>Fonteinstraat tov 72</th>
		<th>35</th>
		<th>51.21115942144159</th>
		<th>4.441964470690549</th>
		<th>069- Fonteinstraat</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>70</th>
		<th>Sint Andriesplaats n° 24</th>
		<th>30</th>
		<th>51.214847821494130000</th>
		<th>4.396344222405702000</th>
		<th>070- Sint Andries</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>72</th>
		<th>Kronenburgstraat ro n° 82</th>
		<th>36</th>
		<th>51.21189196133913</th>
		<th>4.398937499810637</th>
		<th>072- Tropisch Instituut</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>73</th>
		<th>Maarschalk Gerardstraat/schermersstraat</th>
		<th>36</th>
		<th>51.212309000000000000</th>
		<th>4.403718000000000000</th>
		<th>073- Maarschalk Gérard</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>74</th>
		<th>Scheldestraat - Kronenburgstraat</th>
		<th>29</th>
		<th>51.212334197409090000</th>
		<th>4.394022819445082000</th>
		<th>074- Vismijn</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>75</th>
		<th>Museumstraat</th>
		<th>20</th>
		<th>51.21000000</th>
		<th>4.391622</th>
		<th>075- Vlaamsekaai</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>76</th>
		<th>Nationalestraat/Lange Vlierstraat</th>
		<th>19</th>
		<th>51.214035000000000000</th>
		<th>4.398093000000000000</th>
		<th>076- Prekersplein</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>77</th>
		<th>Frankrijklei - Blauwtorenplein</th>
		<th>35</th>
		<th>51.212753000000000000</th>
		<th>4.409466000000000000</th>
		<th>077- Blauwtorenplein</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>78</th>
		<th>Britselei n° 82</th>
		<th>27</th>
		<th>51.209203171828670000</th>
		<th>4.403011521639670000</th>
		<th>078- Oud Gerechtshof</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>79</th>
		<th>Britselei - Mechelsesteenweg</th>
		<th>35</th>
		<th>51.211034506177270000</th>
		<th>4.407260707520346000</th>
		<th>079- Nationale Bank</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>80</th>
		<th>Amerikalei/Graaf Van Hoornestraat</th>
		<th>34</th>
		<th>51.206073818005830000</th>
		<th>4.393389834019567000</th>
		<th>080- Montigny</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>81</th>
		<th>Bolivarplaats rechts van het gerechtsgebouw</th>
		<th>27</th>
		<th>51.204680732033860000</th>
		<th>4.387671971509639000</th>
		<th>081- Justitiepaleis</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>82</th>
		<th>Verviersstraat - Waalsekaai</th>
		<th>35</th>
		<th>51.208619</th>
		<th>4.387469</th>
		<th>082- Fotografiemuseum</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>83</th>
		<th>Amerikalei n° 82</th>
		<th>27</th>
		<th>51.207752878324130000</th>
		<th>4.398509639357570000</th>
		<th>083- Brederode</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>84</th>
		<th>Lange Gasthuisstraat ro n° 3</th>
		<th>33</th>
		<th>51.213441440396450000</th>
		<th>4.404966647429536000</th>
		<th>084- Elzenveld</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>85</th>
		<th>Boudewijnsstraat tegenover n° 19-21</th>
		<th>35</th>
		<th>51.20584851823187</th>
		<th>4.398662874628563</th>
		<th>085- Den Bell</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>86</th>
		<th>Broederminstraat 59</th>
		<th>25</th>
		<th>51.203349000000000000</th>
		<th>4.392348000000000000</th>
		<th>086- Troonplaats</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>87</th>
		<th>Lange Elzenstraat n° 56</th>
		<th>20</th>
		<th>51.20066347660939</th>
		<th>4.394242774057007</th>
		<th>087- Lange Elzen</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>88</th>
		<th>Van Trierstraat - Haantjeslei</th>
		<th>21</th>
		<th>51.201140515457520000</th>
		<th>4.402212232689625000</th>
		<th>088- Haantjeslei</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>89</th>
		<th>Van Schoonbekestraat - Markgravelei</th>
		<th>36</th>
		<th>51.198425910748000000</th>
		<th>4.402230221840753000</th>
		<th>089- Hof van Leysen</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>90</th>
		<th>Vinkenstraat ro n° 7</th>
		<th>17</th>
		<th>51.204546675722690000</th>
		<th>4.404774275762020000</th>
		<th>090- Ballaarstraat</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>91</th>
		<th>Mechelsesteenweg n° 66</th>
		<th>18</th>
		<th>51.208823463763380000</th>
		<th>4.408297423288219000</th>
		<th>091- Hemelstraat</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>92</th>
		<th>Mechelsesteenweg n° 180</th>
		<th>21</th>
		<th>51.204509611888380000</th>
		<th>4.410634013269819000</th>
		<th>092- Sint-Thomas</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>93</th>
		<th>sint vincentius</th>
		<th>29</th>
		<th>51.205410000000000000</th>
		<th>4.413560000000000000</th>
		<th>093- Sint Vincentius</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>94</th>
		<th>Paleisstraat </th>
		<th>31</th>
		<th>51.204800000000000000</th>
		<th>4.396100000000000000</th>
		<th>094- Paleisstraat</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>95</th>
		<th>Quinten Mathijslei n° 12</th>
		<th>30</th>
		<th>51.214151404317630000</th>
		<th>4.416319522723214000</th>
		<th>095- Quinten Matsijslei</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>96</th>
		<th>Rubenslei – Louiza – Marialei </th>
		<th>23</th>
		<th>51.213282141837700000</th>
		<th>4.413109498483254000</th>
		<th>096- Stadspark</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>97</th>
		<th>Cuperusstraat ro Lange Leemstraat</th>
		<th>19</th>
		<th>51.202779812559390000</th>
		<th>4.428828981041583000</th>
		<th>097- Cuperus</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>99</th>
		<th>Generaal Lemanstraat - Karel Oomsstraat</th>
		<th>23</th>
		<th>51.197298</th>
		<th>4.410476</th>
		<th>099- Generaal Leman</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>100</th>
		<th>Frans Van Hombeeckplein 25</th>
		<th>31</th>
		<th>51.194851129846040000</th>
		<th>4.416600409370835000</th>
		<th>100- Van Hombeeckplein</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>101</th>
		<th>Lange Stuivenbergstraat </th>
		<th>35</th>
		<th>51.224100000000000000</th>
		<th>4.432000000000000000</th>
		<th>101- Premetro Handel</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>102</th>
		<th>Duinstraat</th>
		<th>35</th>
		<th>51.222461014719360000</th>
		<th>4.430256657794283000</th>
		<th>102- Duinstraat</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>103</th>
		<th>Uitbreidingsstraat 184</th>
		<th>36</th>
		<th>51.192563000000000000</th>
		<th>4.421462000000000000</th>
		<th>103- Oude Kerk Berchem</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>104</th>
		<th>Provinciestraat - Mercatorstraat</th>
		<th>15</th>
		<th>51.208207812316810000</th>
		<th>4.424294009067518000</th>
		<th>104- Mercator</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>105</th>
		<th>Lange van Ruusbroekstraat</th>
		<th>33</th>
		<th>51.209020</th>
		<th>4.431572</th>
		<th>105- Plantin en Moretus</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>106</th>
		<th>Draakplaats</th>
		<th>30</th>
		<th>51.205609036285810000</th>
		<th>4.432210218293591000</th>
		<th>106- Draakplaats</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>107</th>
		<th>Moorkensplein ro n° 33A</th>
		<th>36</th>
		<th>51.213384</th>
		<th>4.433808</th>
		<th>107- Moorkensplein</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>108</th>
		<th>Delaraystraat ro n° 13</th>
		<th>23</th>
		<th>51.216023031856750000</th>
		<th>4.439968641906528000</th>
		<th>108- Krugerpark</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>109</th>
		<th>Kerkstraat n° 58</th>
		<th>21</th>
		<th>51.218579585329130000</th>
		<th>4.430513466501682000</th>
		<th>109- Kerkstraat</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>110</th>
		<th>Dageraadplaats</th>
		<th>35</th>
		<th>51.206943170944800000</th>
		<th>4.430101723012998000</th>
		<th>110- Dageraadplaats</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>111</th>
		<th>Plantin en Moretuslei</th>
		<th>30</th>
		<th>51.210175</th>
		<th>4.427757</th>
		<th>111- Van Der Meyden</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>112</th>
		<th>Uitbreidingstraat</th>
		<th>36</th>
		<th>51.203446266096090000</th>
		<th>4.436840753419609000</th>
		<th>112- Pretoriastraat</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>113</th>
		<th>Vercammenstraat - Helmstraat</th>
		<th>27</th>
		<th>51.218608995997560000</th>
		<th>4.438622043829003000</th>
		<th>113- Helmstraat</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>114</th>
		<th>Pesthofstraat ro n° 5</th>
		<th>18</th>
		<th>51.2219881750836</th>
		<th>4.433836074078914</th>
		<th>114- ZNA Stuivenberg</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>115</th>
		<th>Sint Elisabethstraat - Greinstraat</th>
		<th>21</th>
		<th>51.222754423402240000</th>
		<th>4.424183815656882000</th>
		<th>115- Metro Elisabeth</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>116</th>
		<th>Van Eycklei ro n° 48</th>
		<th>18</th>
		<th>51.210096006315090000</th>
		<th>4.417215972702701000</th>
		<th>116- Loosplaats</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>117</th>
		<th>Sint Jansplein ro n° 17</th>
		<th>29</th>
		<th>51.225419369818670000</th>
		<th>4.418404418360266000</th>
		<th>117- Sint Jansplein</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>118</th>
		<th>Trapstraat n° 10</th>
		<th>21</th>
		<th>51.227142087032800000</th>
		<th>4.422247361006011000</th>
		<th>118- Dambrugge</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>119</th>
		<th>Provinciestraat (plein)</th>
		<th>23</th>
		<th>51.215371766191990000</th>
		<th>4.425367882174795000</th>
		<th>119- Ploeg</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>120</th>
		<th>Schijnpoortweg </th>
		<th>24</th>
		<th>51.227532000000000000</th>
		<th>4.439042000000000000</th>
		<th>120- Eendracht</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>121</th>
		<th>Stuivenbergplein ro n° 36-1</th>
		<th>30</th>
		<th>51.227460419479400000</th>
		<th>4.430533809533261000</th>
		<th>121- Stuivenbergplein</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>122</th>
		<th>Pothoekstraat ro n° 124</th>
		<th>21</th>
		<th>51.22462463466158</th>
		<th>4.436596048162551</th>
		<th>122- Schijnpoort</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>123</th>
		<th>Viséstraat 16</th>
		<th>17</th>
		<th>51.229038768621690000</th>
		<th>4.424935536896917000</th>
		<th>123- Park Spoor Noord 2</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>124</th>
		<th>Ellermansstraat – Fuggerstraat</th>
		<th>29</th>
		<th>51.229962000000000000</th>
		<th>4.419613000000000000</th>
		<th>124- Park Spoor Noord 1</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>125</th>
		<th>Sint-Norbertusstraat/Van Kerckhovenstraat</th>
		<th>36</th>
		<th>51.225955645521620000</th>
		<th>4.423474198206600000</th>
		<th>125- Sint-Norbertus</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>126</th>
		<th>Lange Dijkstraat 46/ Van Aerdtstraat</th>
		<th>36</th>
		<th>51.22805003403131</th>
		<th>4.419015786408293</th>
		<th>126- Lange Dijk</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>127</th>
		<th>Italiëlei n° 4</th>
		<th>28</th>
		<th>51.228266</th>
		<th>4.4135179</th>
		<th>127- FOD Financiën</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>128</th>
		<th>Kempenstraat</th>
		<th>35</th>
		<th>51.231773</th>
		<th>4.417285</th>
		<th>128- ZNA Cadix</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>129</th>
		<th>Godefriduskaai Qpark</th>
		<th>35</th>
		<th>51.22808266888089</th>
		<th>4.408881473327011</th>
		<th>129- Godefriduskaai</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>130</th>
		<th>Lamorinièrestraat</th>
		<th>18</th>
		<th>51.203800000000000000</th>
		<th>4.420800000000000000</th>
		<th>130- Lamoriniere</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>131</th>
		<th>De wittestraat - Generaal Lemanstraat</th>
		<th>21</th>
		<th>51.193756253382520000</th>
		<th>4.412152929349810000</th>
		<th>131- De Wittestraat</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>132</th>
		<th>Maarschalk Montgomeryplein ro n° 4</th>
		<th>17</th>
		<th>51.211773597965510000</th>
		<th>4.437785965534147000</th>
		<th>132- Montgomery</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>133</th>
		<th>Entrepotkaai n° 1</th>
		<th>24</th>
		<th>51.229581467123380000</th>
		<th>4.411349321449047000</th>
		<th>133- Willemdok</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>134</th>
		<th>Godefriduskaai - Oostendekaai</th>
		<th>36</th>
		<th>51.22826722483835</th>
		<th>4.405565840514225</th>
		<th>134- MAS</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>135</th>
		<th>Sint-Aldegondiskaai</th>
		<th>36</th>
		<th>51.227970850000000000</th>
		<th>4.402027750000000000</th>
		<th>135- Loodswezen</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>136</th>
		<th>Hardenvoort</th>
		<th>36</th>
		<th>51.231345000000000000</th>
		<th>4.420999000000000000</th>
		<th>136- Spoor Noord Skatebowl</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>137</th>
		<th>napeleonkaai/Nassaustraat </th>
		<th>35</th>
		<th>51.229779000000000000</th>
		<th>4.405748000000000000</th>
		<th>137- Sint-Laureiskaai</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>138</th>
		<th>Amsterdamstraat</th>
		<th>23</th>
		<th>51.231198527554700000</th>
		<th>4.403552339080501000</th>
		<th>138- Amsterdamstraat</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>139</th>
		<th>Londenstraat</th>
		<th>21</th>
		<th>51.231053480456730000</th>
		<th>4.412669394282471000</th>
		<th>139- Londenstraat</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>140</th>
		<th>Goethestraat/Thoneth</th>
		<th>36</th>
		<th>51.231422666361720000</th>
		<th>4.391627018623872000</th>
		<th>140- Jachthaven LO</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>141</th>
		<th>Gloriantlaan/Kastanjedreef</th>
		<th>35</th>
		<th>51.2352525700327</th>
		<th>4.386875385241651</th>
		<th>141- Sint-Anna</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>142</th>
		<th>Esmoreitlaan</th>
		<th>36</th>
		<th>51.233439980056400000</th>
		<th>4.382542133810354000</th>
		<th>142- Esmoreitlaan</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>143</th>
		<th>Gloriantlaan/Melis Stokelaan 24  </th>
		<th>24</th>
		<th>51.231146000000000000</th>
		<th>4.386179000000000000</th>
		<th>143- Melis Stokelaan</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>144</th>
		<th>August Vermeylenlaan</th>
		<th>36</th>
		<th>51.231267105658740000</th>
		<th>4.378669800971490000</th>
		<th>144- August Vermeylenlaan</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>145</th>
		<th>August Vermeylenlaan/ Charles de Costerlaan</th>
		<th>24</th>
		<th>51.227842213432080000</th>
		<th>4.378550835716943000</th>
		<th>145- De Coster</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>146</th>
		<th>Gloriantlaan/Reinaartlaan</th>
		<th>33</th>
		<th>51.22777877150836</th>
		<th>4.385890517853628</th>
		<th>146- Reinaartlaan</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>147</th>
		<th>Halewijnlaan</th>
		<th>24</th>
		<th>51.223918702975620000</th>
		<th>4.377876746950817000</th>
		<th>147- Halewijnlaan</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>148</th>
		<th>Frederik Van Eedenstraa</th>
		<th>35</th>
		<th>51.223198209027030000</th>
		<th>4.386220088490688000</th>
		<th>148- Verhaerenlaan</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>149</th>
		<th>Blancefloerlaan tov Frederik van Eedenplein</th>
		<th>36</th>
		<th>51.220613099914330000</th>
		<th>4.386331953024964000</th>
		<th>149- Van Eedenplein</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>150</th>
		<th>Waterhoenlaan</th>
		<th>24</th>
		<th>51.220073488674270000</th>
		<th>4.381723278952854000</th>
		<th>150- Waterhoenlaan</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>151</th>
		<th>Blancefloerlaan/Halewijnlaan</th>
		<th>31</th>
		<th>51.220313008869570000</th>
		<th>4.378407092993419000</th>
		<th>151- Van Cauwelaert</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>152</th>
		<th>Blancefloerlaan</th>
		<th>36</th>
		<th>51.22007304015533</th>
		<th>4.375590099454385</th>
		<th>152- Blancefloerlaan</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>153</th>
		<th>Beatrijslaan</th>
		<th>36</th>
		<th>51.218528603221080000</th>
		<th>4.385706443546232000</th>
		<th>153- Beatrijslaan</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>154</th>
		<th>Terloplein</th>
		<th>33</th>
		<th>51.219068000000000000</th>
		<th>4.444364000000000000</th>
		<th>154- Terloplein</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>155</th>
		<th>Statielei</th>
		<th>35</th>
		<th>51.216198</th>
		<th>4.445644</th>
		<th>155- Statielei</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>156</th>
		<th>Van Kerckhovenstraat 74-76</th>
		<th>29</th>
		<th>51.226025000000000000</th>
		<th>4.425506000000000000</th>
		<th>156- Gasstraat</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>157</th>
		<th>Binnensingel </th>
		<th>35</th>
		<th>51.192502000000000000</th>
		<th>4.421580000000000000</th>
		<th>157- Berchem Kerk</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>158</th>
		<th>Zuidervelodroom</th>
		<th>36</th>
		<th>51.201926000000000000</th>
		<th>4.398386000000000000</th>
		<th>158- Zuidervelodroom</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>159</th>
		<th>Boudewijnsstraat</th>
		<th>28</th>
		<th>51.205596</th>
		<th>4.399275</th>
		<th>159- Den Bell 2</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>160</th>
		<th>Brusselstraat</th>
		<th>34</th>
		<th>51.203384</th>
		<th>4.388801</th>
		<th>160- Vlinderpaleis</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>161</th>
		<th>Henri La Fontainestraat</th>
		<th>32</th>
		<th>51.203562</th>
		<th>4.425661</th>
		<th>161 - Hospitaalplein</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>162</th>
		<th>Blancefloerlaan</th>
		<th>36</th>
		<th>51.219928</th>
		<th>4.368736</th>
		<th>162 - Regatta</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>163</th>
		<th>Galgenweellaan</th>
		<th>36</th>
		<th>51.217480000000000000</th>
		<th>4.377978000000000000</th>
		<th>163 - Pluvier</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>164</th>
		<th>Ellermanstraat</th>
		<th>35</th>
		<th>51.229928</th>
		<th>4.414994</th>
		<th>164 - AP Ellermanstraat</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>165</th>
		<th>Paardenmarkt</th>
		<th>36</th>
		<th>51.225164</th>
		<th>4.408987</th>
		<th>165- Den Roscam</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>166</th>
		<th>Schoenmarkt</th>
		<th>33</th>
		<th>51.218308</th>
		<th>4.403311</th>
		<th>166 - Schoenmarkt</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>167</th>
		<th>Italielei</th>
		<th>30</th>
		<th>51.228452</th>
		<th>4.413392</th>
		<th>167 - Fod Financiën 2 </th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>170</th>
		<th>Quellinstraat 6-8</th>
		<th>21</th>
		<th>51.217364</th>
		<th>4.416535</th>
		<th>170-Quellin</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>171</th>
		<th>Koningin Astridplein</th>
		<th>11</th>
		<th>51.217876</th>
		<th>4.420608</th>
		<th>171 - Centraal Station 3 </th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>172</th>
		<th>Koningin Astridplein</th>
		<th>12</th>
		<th>51.217898</th>
		<th>4.420655</th>
		<th>172 - Centraal Station 4</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>173</th>
		<th>Operaplein</th>
		<th>36</th>
		<th>51.22019835223675</th>
		<th>4.417061957761649</th>
		<th>173 - Franklin Roosevelt</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>175</th>
		<th>Asiadok-oostkaai / Noorderlaan</th>
		<th>36</th>
		<th>51.235181</th>
		<th>4.420199</th>
		<th>175 - Asiadok</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>201</th>
		<th>Ekersesteenweg</th>
		<th>33</th>
		<th>51.262628</th>
		<th>4.418686</th>
		<th>201- P&R Luchtbal</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>202</th>
		<th>Dublinstraat</th>
		<th>24</th>
		<th>51.257272</th>
		<th>4.421638</th>
		<th>202- Squarepark</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>203</th>
		<th>Venezuelastraat</th>
		<th>36</th>
		<th>51.253611000000000000</th>
		<th>4.423168000000000000</th>
		<th>203- Venezuelastraat</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>204</th>
		<th>Noorderlaan</th>
		<th>36</th>
		<th>51.249964000000000000</th>
		<th>4.420901000000000000</th>
		<th>204- Luchtbal winkelcentrum</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>205</th>
		<th>Groenendaallaan</th>
		<th>36</th>
		<th>51.244781000000000000</th>
		<th>4.414339000000000000</th>
		<th>205- Kinepolis</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>206</th>
		<th>Bermstraat</th>
		<th>33</th>
		<th>51.244502000000000000</th>
		<th>4.423089000000000000</th>
		<th>206- Station Luchtbal</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>207</th>
		<th>Bredabaan</th>
		<th>36</th>
		<th>51.25812422345074</th>
		<th>4.461959906415652</th>
		<th>207- P&R Merksem</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>208</th>
		<th>Ringlaan</th>
		<th>36</th>
		<th>51.254510000000000000</th>
		<th>4.454690000000000000</th>
		<th>208- Ringlaan Atheneum</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>209</th>
		<th>Korte Bremstraat</th>
		<th>36</th>
		<th>51.256440000000000000</th>
		<th>4.447149000000000000</th>
		<th>209- Melgeshof</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>210</th>
		<th>Maantjessteenweg</th>
		<th>36</th>
		<th>51.255228000000000000</th>
		<th>4.435762000000000000</th>
		<th>210- Maantjessteenweg</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>211</th>
		<th>Rodeloopstraat</th>
		<th>35</th>
		<th>51.251312000000000000</th>
		<th>4.437315000000000000</th>
		<th>211- Cultuurcentrum</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>212</th>
		<th>Rodeloopstraat</th>
		<th>36</th>
		<th>51.250909000000000000</th>
		<th>4.442306000000000000</th>
		<th>212- Rode Loop</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>213</th>
		<th>Kroonplein</th>
		<th>29</th>
		<th>51.251476000000000000</th>
		<th>4.448053000000000000</th>
		<th>213- Kroonplein</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>214</th>
		<th>Kerkhofblommenstraat</th>
		<th>36</th>
		<th>51.2481</th>
		<th>4.432336</th>
		<th>214- Kerkhofblommen</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>215</th>
		<th>Nieuwdreef</th>
		<th>36</th>
		<th>51.246713000000000000</th>
		<th>4.440150000000000000</th>
		<th>215- Nieuwdreef</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>216</th>
		<th>Van Heybeeckstraat</th>
		<th>28</th>
		<th>51.247269000000000000</th>
		<th>4.449020000000000000</th>
		<th>216- Zwembad Merksem</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>217</th>
		<th>Bredabaan</th>
		<th>30</th>
		<th>51.249165000000000000</th>
		<th>4.454677000000000000</th>
		<th>217- Joske Vermeulen</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>218</th>
		<th>Gagelveldenstraat</th>
		<th>36</th>
		<th>51.243020000000000000</th>
		<th>4.435687000000000000</th>
		<th>218- Groenendaalcollege</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>219</th>
		<th>Borrewaterstraat</th>
		<th>33</th>
		<th>51.242161000000000000</th>
		<th>4.442517000000000000</th>
		<th>219- Districtshuis Merksem</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>220</th>
		<th>Sint-Bartholomeusstraat</th>
		<th>30</th>
		<th>51.243145000000000000</th>
		<th>4.447397000000000000</th>
		<th>220- 't Dokske</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>221</th>
		<th>Mexicostraat</th>
		<th>36</th>
		<th>51.240482000000000000</th>
		<th>4.407994000000000000</th>
		<th>221-Havenhuis</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>222</th>
		<th>Binnenvaartstraat</th>
		<th>36</th>
		<th>51.233335000000000000</th>
		<th>4.413912000000000000</th>
		<th>222- Cadix Oost</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>223</th>
		<th>Montevideostraat</th>
		<th>36</th>
		<th>51.233346000000000000</th>
		<th>4.403114000000000000</th>
		<th>223- Red Star Line</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>224</th>
		<th>Indiestraat</th>
		<th>36</th>
		<th>51.234392000000000000</th>
		<th>4.409584000000000000</th>
		<th>224- Indiestraat</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>225</th>
		<th>Verbindingsdok/Oostkaai</th>
		<th>36</th>
		<th>51.230484000000000000</th>
		<th>4.407688000000000000</th>
		<th>225- Verbindingsdok Eilandje</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>226</th>
		<th>Noordschippersdok 41</th>
		<th>35</th>
		<th>51.233902000000000000</th>
		<th>4.429735000000000000</th>
		<th>226- Noordschippersdok</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>227</th>
		<th>Van Amstelstraat</th>
		<th>24</th>
		<th>51.232764000000000000</th>
		<th>4.444330000000000000</th>
		<th>227- Amstel</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>228</th>
		<th>Van Heetveldelei</th>
		<th>24</th>
		<th>51.229842</th>
		<th>4.451413</th>
		<th>228- Van Heetvelde</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>229</th>
		<th>Jozef Nellenslei</th>
		<th>36</th>
		<th>51.226159000000000000</th>
		<th>4.451985000000000000</th>
		<th>229- Jozef Nellens</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>230</th>
		<th>Bosuil</th>
		<th>36</th>
		<th>51.229092000000000000</th>
		<th>4.461910000000000000</th>
		<th>230- Bosuil</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>231</th>
		<th>Ter Heydenlaan</th>
		<th>36</th>
		<th>51.229220000000000000</th>
		<th>4.467826000000000000</th>
		<th>231- den Antwerp</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>232</th>
		<th>Wim Saerensplein</th>
		<th>36</th>
		<th>51.228491</th>
		<th>4.478671</th>
		<th>232- Wim Saerens</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>233</th>
		<th>Gallifortlei</th>
		<th>35</th>
		<th>51.225095000000000000</th>
		<th>4.466165000000000000</th>
		<th>233- Gallifort</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>234</th>
		<th>Jan Brochovenstraat</th>
		<th>36</th>
		<th>51.222201000000000000</th>
		<th>4.461183000000000000</th>
		<th>234- Deurne Atheneum</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>235</th>
		<th>Cogelsplein</th>
		<th>36</th>
		<th>51.219942000000000000</th>
		<th>4.455008000000000000</th>
		<th>235- Cogelsplein</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>236</th>
		<th>Maurice Dequeeckerplein</th>
		<th>36</th>
		<th>51.219161000000000000</th>
		<th>4.460066000000000000</th>
		<th>236- Districtshuis Deurne</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>237</th>
		<th>Ter Rivierenlaan</th>
		<th>36</th>
		<th>51.220330000000000000</th>
		<th>4.469246000000000000</th>
		<th>237- Ter Rivieren</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>238</th>
		<th>Ertbruggelaan</th>
		<th>24</th>
		<th>51.223732000000000000</th>
		<th>4.475630000000000000</th>
		<th>238- Ertbrugge</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>239</th>
		<th>Alfons schneiderlaan</th>
		<th>28</th>
		<th>51.221261000000000000</th>
		<th>4.479477000000000000</th>
		<th>239- Zwarte Arend</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>240</th>
		<th>Ruggeveldlaan</th>
		<th>36</th>
		<th>51.217572</th>
		<th>4.482117</th>
		<th>240- Park Groot Schijn</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>241</th>
		<th>Collegelaan </th>
		<th>35</th>
		<th>51.213333000000000000</th>
		<th>4.453333000000000000</th>
		<th>241- Kerkendijk</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>242</th>
		<th>Te Boelaerlei</th>
		<th>35</th>
		<th>51.210431000000000000</th>
		<th>4.452514000000000000</th>
		<th>242- Te Boelaerlei</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>243</th>
		<th>Herentalsebaan</th>
		<th>36</th>
		<th>51.209535000000000000</th>
		<th>4.458156000000000000</th>
		<th>243- Mestputteke</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>244</th>
		<th>Herentalsebaan</th>
		<th>35</th>
		<th>51.207636000000000000</th>
		<th>4.465315000000000000</th>
		<th>244- Waterbaan</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>245</th>
		<th>Florent Pauwelslei</th>
		<th>34</th>
		<th>51.206811000000000000</th>
		<th>4.471315000000000000</th>
		<th>245- AZ Monica</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>246</th>
		<th>Arenaplein</th>
		<th>35</th>
		<th>51.206946000000000000</th>
		<th>4.458333000000000000</th>
		<th>246- Arena</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>247</th>
		<th>Luitenant Lippenslaan</th>
		<th>35</th>
		<th>51.208319</th>
		<th>4.44595</th>
		<th>247- ZNA Sint Erasmus</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>248</th>
		<th>De Schans</th>
		<th>34</th>
		<th>51.205979000000000000</th>
		<th>4.449254000000000000</th>
		<th>248- De Schans</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>249</th>
		<th>Frans de Vriendstraat</th>
		<th>30</th>
		<th>51.203810000000000000</th>
		<th>4.444224000000000000</th>
		<th>249- Frans De Vriend</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>250</th>
		<th>Diksmuidelaan</th>
		<th>35</th>
		<th>51.201106000000000000</th>
		<th>4.438997000000000000</th>
		<th>250- Borsbeekbrug</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>251</th>
		<th>Arthur Matthyslaan</th>
		<th>30</th>
		<th>51.203966000000000000</th>
		<th>4.452089000000000000</th>
		<th>251- Te Boelaerpark Noord</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>252</th>
		<th>Karel de Preterlei</th>
		<th>31</th>
		<th>51.200011000000000000</th>
		<th>4.450281000000000000</th>
		<th>252- Te Boelaerpark/Gitschotellei</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>253</th>
		<th>Vosstraat</th>
		<th>34</th>
		<th>51.198064000000000000</th>
		<th>4.453219000000000000</th>
		<th>253- Vosplein</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>254</th>
		<th>Boekenberglei</th>
		<th>29</th>
		<th>51.197541000000000000</th>
		<th>4.459599000000000000</th>
		<th>254- Sint-Jozef</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>255</th>
		<th>Van den Hautelei</th>
		<th>36</th>
		<th>51.204139000000000000</th>
		<th>4.467644000000000000</th>
		<th>255- Van den Haute</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>256</th>
		<th>Helderstraat</th>
		<th>26</th>
		<th>51.195455000000000000</th>
		<th>4.442231000000000000</th>
		<th>256- Zillebeek</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>257</th>
		<th>Hofstadestraat</th>
		<th>36</th>
		<th>51.192327</th>
		<th>4.44875</th>
		<th>257- Hofstade</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>258</th>
		<th>Lodewijk van Berckenlaan</th>
		<th>29</th>
		<th>51.197498000000000000</th>
		<th>4.443731000000000000</th>
		<th>258- Hof van Nauwelaerts</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>259</th>
		<th>Posthofbrug</th>
		<th>35</th>
		<th>51.193321000000000000</th>
		<th>4.437033000000000000</th>
		<th>259- Posthofbrug</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>260</th>
		<th>Hof ter Schriecklaan</th>
		<th>26</th>
		<th>51.189637000000000000</th>
		<th>4.421661000000000000</th>
		<th>260- Ter Schrieck</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>261</th>
		<th>Henri Prostlaan</th>
		<th>35</th>
		<th>51.188627000000000000</th>
		<th>4.429588000000000000</th>
		<th>261- Brilschans</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>262</th>
		<th>Hoogveld</th>
		<th>35</th>
		<th>51.189323000000000000</th>
		<th>4.435614000000000000</th>
		<th>262- Hoogveld</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>263</th>
		<th>Fruithoflaan - Jos Ratinckxstraat</th>
		<th>35</th>
		<th>51.184528000000000000</th>
		<th>4.441041000000000000</th>
		<th>263- Fruithoflaan 2</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>264</th>
		<th>Filip Williotstraat</th>
		<th>35</th>
		<th>51.187649000000000000</th>
		<th>4.435101000000000000</th>
		<th>264- Filip Williotstraat</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>265</th>
		<th>Pulhoflaan</th>
		<th>30</th>
		<th>51.185138000000000000</th>
		<th>4.432041000000000000</th>
		<th>265- Pulhof</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>266</th>
		<th>Fruithoflaan - Sint-Theresiastraat</th>
		<th>35</th>
		<th>51.180764000000000000</th>
		<th>4.434712000000000000</th>
		<th>266- Fruithoflaan 1</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>267</th>
		<th>Prins Leopoldstraat</th>
		<th>29</th>
		<th>51.185888000000000000</th>
		<th>4.423380000000000000</th>
		<th>267- Leopold</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>268</th>
		<th>Lindendreef</th>
		<th>35</th>
		<th>51.182961000000000000</th>
		<th>4.418486000000000000</th>
		<th>268- ZNA Middelheim</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>269</th>
		<th>Elisabethlaan</th>
		<th>30</th>
		<th>51.183092000000000000</th>
		<th>4.424310000000000000</th>
		<th>269- Middelheim</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>270</th>
		<th>Eglantierlaan</th>
		<th>34</th>
		<th>51.186453000000000000</th>
		<th>4.404271000000000000</th>
		<th>270- Dikke Mee</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>271</th>
		<th>Beukenlaan</th>
		<th>36</th>
		<th>51.180694000000000000</th>
		<th>4.408988000000000000</th>
		<th>271- Middelheimmuseum</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>272</th>
		<th>Groenenborgerlaan</th>
		<th>30</th>
		<th>51.177864</th>
		<th>4.421649</th>
		<th>272- Groenenborger</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>273</th>
		<th>Oosterveldlaan</th>
		<th>36</th>
		<th>51.175820000000000000</th>
		<th>4.412831000000000000</th>
		<th>273- Campus Groenenborger</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>274</th>
		<th>Bist</th>
		<th>30</th>
		<th>51.170393000000000000</th>
		<th>4.394845000000000000</th>
		<th>274- De Bist</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>275</th>
		<th>Groenenborgerlaan 17</th>
		<th>35</th>
		<th>51.174365000000000000</th>
		<th>4.403340000000000000</th>
		<th>275- Sneeuwbes</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>276</th>
		<th>Kruishofstraat</th>
		<th>36</th>
		<th>51.183506000000000000</th>
		<th>4.393877000000000000</th>
		<th>276- Corbusier</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>277</th>
		<th>Ahornenlaan </th>
		<th>36</th>
		<th>51.177078000000000000</th>
		<th>4.399725000000000000</th>
		<th>277- Ahornen</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>278</th>
		<th>Oversneslaan</th>
		<th>36</th>
		<th>51.165330000000000000</th>
		<th>4.393937000000000000</th>
		<th>278- Oversnes</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>279</th>
		<th>Doornstraat</th>
		<th>34</th>
		<th>51.168681000000000000</th>
		<th>4.394375000000000000</th>
		<th>279- Ieperman</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>280</th>
		<th>Bosheidelaan</th>
		<th>36</th>
		<th>51.176724000000000000</th>
		<th>4.382415000000000000</th>
		<th>280- Marmotteke</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>281</th>
		<th>Hof van Tichelen</th>
		<th>34</th>
		<th>51.182476000000000000</th>
		<th>4.385404000000000000</th>
		<th>281- Hof van Tichelen</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>282</th>
		<th>Letterkundestraat 61</th>
		<th>36</th>
		<th>51.180232000000000000</th>
		<th>4.380868000000000000</th>
		<th>282- De Letter</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>283</th>
		<th>Hollebeekstraat</th>
		<th>36</th>
		<th>51.181666000000000000</th>
		<th>4.372030000000000000</th>
		<th>283- Hollebeek</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>284</th>
		<th>Steynsstraat</th>
		<th>35</th>
		<th>51.183230000000000000</th>
		<th>4.364133000000000000</th>
		<th>284- Steynsstraat</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>285</th>
		<th>Commandant Weynsstraat</th>
		<th>27</th>
		<th>51.183787000000000000</th>
		<th>4.352957000000000000</th>
		<th>285- Hoge Beuken</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>286</th>
		<th>Berkenrodelei</th>
		<th>36</th>
		<th>51.182534</th>
		<th>4.348112</th>
		<th>286- Station Hoboken/Polderstad</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>287</th>
		<th>Berkenrodelei</th>
		<th>35</th>
		<th>51.177735</th>
		<th>4.350003</th>
		<th>287- Kioskplaats/Centrum</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>288</th>
		<th>Draaiboomstraat</th>
		<th>36</th>
		<th>51.177318000000000000</th>
		<th>4.359723000000000000</th>
		<th>288- Draaiboom</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>289</th>
		<th>Walstraat</th>
		<th>36</th>
		<th>51.173553000000000000</th>
		<th>4.352282000000000000</th>
		<th>289- Broydenborgpark</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>290</th>
		<th>Schoonselhoflei</th>
		<th>36</th>
		<th>51.176212000000000000</th>
		<th>4.367697000000000000</th>
		<th>290- Coöperatielaan</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>291</th>
		<th>Maurits Sabbelaan</th>
		<th>36</th>
		<th>51.188503000000000000</th>
		<th>4.372703000000000000</th>
		<th>291- Braem blokken</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>292</th>
		<th>Jacob le Mairestraat</th>
		<th>36</th>
		<th>51.190807000000000000</th>
		<th>4.381008000000000000</th>
		<th>292- Kielpark</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>293</th>
		<th>Edgard Casteleinstraat</th>
		<th>36</th>
		<th>51.188516000000000000</th>
		<th>4.390949000000000000</th>
		<th>293- Edgard Castelein</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>294</th>
		<th>Eugeen Laermansstraat</th>
		<th>36</th>
		<th>51.191017000000000000</th>
		<th>4.376694000000000000</th>
		<th>294- Den Tir</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>295</th>
		<th>Emiel Vloorstraat</th>
		<th>35</th>
		<th>51.194275000000000000</th>
		<th>4.379091000000000000</th>
		<th>295- Sporthal Kiel</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>296</th>
		<th>Eric Sassenlaan</th>
		<th>30</th>
		<th>51.194083000000000000</th>
		<th>4.393042000000000000</th>
		<th>296- Mastvest</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>297</th>
		<th>Tentoonstellingslaan</th>
		<th>35</th>
		<th>51.190620000000000000</th>
		<th>4.388933000000000000</th>
		<th>297- Tentoonstellingswijk</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>298</th>
		<th>Valkstraat</th>
		<th>27</th>
		<th>51.171900000000000000</th>
		<th>4.382368000000000000</th>
		<th>298- Koornbloem</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>299</th>
		<th>C.Huysmanslaan</th>
		<th>35</th>
		<th>51.191955000000000000</th>
		<th>4.398349000000000000</th>
		<th>299- Antwerp expo</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>300</th>
		<th>Vogelzanglaan</th>
		<th>34</th>
		<th>51.188747000000000000</th>
		<th>4.397701000000000000</th>
		<th>300- Wilrijksepleinen</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>301</th>
		<th>Luchthaven </th>
		<th>30</th>
		<th>51.188840000000000000</th>
		<th>4.450391000000000000</th>
		<th>301- Luchthaven </th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>302</th>
		<th>Rozenkrans</th>
		<th>30</th>
		<th>51.179041000000000000</th>
		<th>4.390479000000000000</th>
		<th>302- Rozenkrans</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>303</th>
		<th>Kambalastraat</th>
		<th>36</th>
		<th>51.237933000000000000</th>
		<th>4.409588000000000000</th>
		<th>303-Kambala</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>304</th>
		<th>Campiniastraat</th>
		<th>36</th>
		<th>51.240067000000000000</th>
		<th>4.433795000000000000</th>
		<th>304 - Campinia</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>305</th>
		<th>Ter Nieuwerbrugge</th>
		<th>36</th>
		<th>51.191308000000000000</th>
		<th>4.443500000000000000</th>
		<th>305 - Ter Nieuwerbrugge</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>307</th>
		<th>Baron Sadoinestraat</th>
		<th>36</th>
		<th>51.172063000000000000</th>
		<th>4.338246000000000000</th>
		<th>307 - Baron Sadoin</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>308</th>
		<th>Majoor Maelfaitplein</th>
		<th>34</th>
		<th>51.171068000000000000</th>
		<th>4.367170000000000000</th>
		<th>308 - KDG Campus Hoboken</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>309</th>
		<th>Paul Henri Spaaklaan</th>
		<th>36</th>
		<th>51.170885000000000000</th>
		<th>4.349603000000000000</th>
		<th>309 - De Torekens</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>310</th>
		<th>Krijgsbaan</th>
		<th>36</th>
		<th>51.1671889</th>
		<th>4.353555</th>
		<th>310 - Sporthal Sorghvliedt</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>311</th>
		<th>Cockerillplaats</th>
		<th>35</th>
		<th>51.174546000000000000</th>
		<th>4.344227000000000000</th>
		<th>311 - Cockerillhof</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>312</th>
		<th>Graspolderlaan</th>
		<th>36</th>
		<th>51.184743</th>
		<th>4.342512</th>
		<th>312 - Graspolder</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>313</th>
		<th>Constant Jorislaan</th>
		<th>33</th>
		<th>51.200506</th>
		<th>4.4702388</th>
		<th>313 - Eksterlaar</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>314</th>
		<th>Sint-Bernardsesteenweg</th>
		<th>35</th>
		<th>51.169097</th>
		<th>4.363276</th>
		<th>314 - Schoonselhof</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>316</th>
		<th>Dokter Emiel Van Dammestraat</th>
		<th>36</th>
		<th>51.181743000000000000</th>
		<th>4.358049000000000000</th>
		<th>316 - D.E. Van Damme</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>317</th>
		<th>Sluitberg</th>
		<th>36</th>
		<th>51.252073</th>
		<th>4.433105</th>
		<th>317 - Distelhoek</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>319</th>
		<th>Schaliemolenstraat</th>
		<th>29</th>
		<th>51.172836000000000000</th>
		<th>4.405166000000000000</th>
		<th>319 - Schaliemolen</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>320</th>
		<th>Den Brem</th>
		<th>35</th>
		<th>51.174055000000000000</th>
		<th>4.375633000000000000</th>
		<th>320 - Den Brem</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>321</th>
		<th>Monnikenplein</th>
		<th>36</th>
		<th>51.175079000000000000</th>
		<th>4.430026000000000000</th>
		<th>321 - Monnikenplein</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>322</th>
		<th>Malisgoed</th>
		<th>24</th>
		<th>51.166950000000000000</th>
		<th>4.382131000000000000</th>
		<th>322 - Malisgoed</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>323</th>
		<th>Oosterveldlaan</th>
		<th>35</th>
		<th>51.175348</th>
		<th>4.418924</th>
		<th>323 - Sint-Augustinus</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>324</th>
		<th>Dordrechtlaan</th>
		<th>23</th>
		<th>51.204304000000000000</th>
		<th>4.461313000000000000</th>
		<th>324 - Dordrechlaan</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>325</th>
		<th>Paul Vekemanslaan</th>
		<th>30</th>
		<th>51.174881000000000000</th>
		<th>4.359931000000000000</th>
		<th>325 - Paul Vekemans</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>327</th>
		<th>Ridderveld</th>
		<th>30</th>
		<th>51.177213000000000000</th>
		<th>4.374881000000000000</th>
		<th>327 - Ridderveld</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>328</th>
		<th>Schotensesteenweg</th>
		<th>35</th>
		<th>51.219152000000000000</th>
		<th>4.475061000000000000</th>
		<th>328 - Oude Terminus</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>329</th>
		<th>Prosper de Wittestraat</th>
		<th>27</th>
		<th>51.226097000000000000</th>
		<th>4.470640000000000000</th>
		<th>329 - Prosper de Wit</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>330</th>
		<th>Meerlenhoflaan</th>
		<th>36</th>
		<th>51.172341</th>
		<th>4.356264</th>
		<th>330 - Meerlenhof</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>331</th>
		<th>Zaatlaan</th>
		<th>36</th>
		<th>51.175401</th>
		<th>4.338725</th>
		<th>331 - Zaatlaan</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>332</th>
		<th>Michel Geysemansstraat</th>
		<th>36</th>
		<th>51.167514000000000000</th>
		<th>4.385419000000000000</th>
		<th>332 - Valkstraat</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>333</th>
		<th>Frans Adriaenssensst</th>
		<th>30</th>
		<th>51.254570</th>
		<th>4.441730</th>
		<th>333 - Frans Adriaenssen / Joma</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>334</th>
		<th>August van de Wielelei</th>
		<th>36</th>
		<th>51.219789000000000000</th>
		<th>4.483170000000000000</th>
		<th>334 - Den Haas</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>335</th>
		<th>Speelpleinstraat / Terlindenhofstraat</th>
		<th>36</th>
		<th>51.248223</th>
		<th>4.444239</th>
		<th>335- Speelplein</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>336</th>
		<th>Sneeuwbeslaan/Laarstraat</th>
		<th>36</th>
		<th>51.175707</th>
		<th>4.396217</th>
		<th>336 -Sneeuwbeslaan</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>337</th>
		<th>Verenigde Natieslaan</th>
		<th>24</th>
		<th>51.163790000000000000</th>
		<th>4.353356000000000000</th>
		<th>337 - Verenigde Naties</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>340</th>
		<th>Dokter Donnyplein</th>
		<th>36</th>
		<th>51.168131000000000000</th>
		<th>4.404972000000000000</th>
		<th>340 - Dokter Donny</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
	<tr>
		<th>342</th>
		<th>Jos Smolderenstraat</th>
		<th>36</th>
		<th>51.206260</th>
		<th>4.383447</th>
		<th>342 - Nieuw Zuid</th>
		<th>BIKE</th>
		<th>OPN</th>
	</tr>
</table>
</body>
</html>